<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="theme-color" content="#000000" />

		<!-- bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<!-- App CSS -->
		<link rel="stylesheet" href="/public/css/styles.css">
		<link rel="stylesheet" href="/public/css/tables.css">
		<link rel="stylesheet" href="/public/css/library.css">
		<link rel="stylesheet" href="/public/css/shows.css">
		<link rel="stylesheet" href="/public/css/bootstrap_fixes.css">

		<title>LMB Show Planner</title>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
	</body>
	
<script type="text/javascript">
	var lib = [];
	// Turn the data into a JS object
	<% data.songs.forEach(function(row) { %>
		var temp = {};
		temp.songId = '<%= row.song_id %>';
		temp.title = '<%= row.title %>';
		temp.arranger = '<%= row.arranger %>';
		temp.length = '<%= row.song_length %>';
		temp.audio = '<%= row.audio %>';
		lib.push(temp);
	<% }); %>

	var shows = [];
	// Turn the data into a JS object
	<% data.shows.forEach(function(row) { %>
		var temp = {};
		temp.showId = '<%= row.show_id %>';
		temp.title = '<%= row.title %>';
		temp.details = '<%= row.details %>';
		temp.season = '<%= row.season %>';
		temp.showNumber = '<%= row.show_number %>';
		temp.date = '<%= row.date %>';
		shows.push(temp);
	<% }); %>

	var selectedSongs = [];
	// Turn the data into a JS object
	<% data.selectedSongs.forEach(function(row) { %>
		var temp = {};
		temp.showId = '<%= row.show_id %>';
		temp.songId = '<%= row.song_id %>';
		selectedSongs.push(temp);
	<% }); %>


	// urlPath
	var urlPath = []
	<% urlPath.forEach(function(circuit) { %>
		urlPath.push('<%= circuit %>');
	<% }); %>

	// isAuthenticated
	var isAuthenticated = ('<%= isAuthenticated %>' == 'true');
</script>	

	<script src="/src/dist/app_render.bundle.js"></script>
</html>
